<footer class="footer">
    <div class="footer__main flex ">
      <div class="container footer__main-container flex">
        <div class="footer__socials socials flex">
          <a href="./index.html" class="main-logo">
            <img src="./images/main-logo.svg" alt="Переход на главную страницу" class="main-logo__img" aria-label="Переход на главную страницу">
          </a>
          <div class="socials__group">
            <a href="#" class="socials__link" aria-label="Переход на страницу в вконтакте">
              <svg class="socials__ok social" width="30" height="30">
                <use xlink:href="./images/sprite.svg#ok"></use>
              </svg>
            </a>
            <a href="#" class="socials__link" aria-label="Переход на страницу в одноклассниках">
              <svg class="socials__vk social" width="30" height="30">
                <use xlink:href="./images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer__lists-group flex">
          <ul class="footer__about footer__list list-reset">
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">О нас</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">О компании</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Блог</a>
            </li>
          </ul>
          <ul class="footer__services footer__list list-reset">
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Услуги</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Доставка</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Рассрочка и кредит</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Сборка и установка</a>
            </li>
          </ul>

          <ul class="footer__communication footer__list list-reset ">
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Связь с нами</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Обратная связь</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Контакты</a>
            </li>
          </ul>

          <ul class="footer__cooperte footer__list list-reset">
            <li class="footer__list-item">
              <a href="./cooperation.html" class="footer__list-link">Сотрудничество</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Поставщикам</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Оптовикам</a>
            </li>
            <li class="footer__list-item">
              <a href="#" class="footer__list-link">Карьера</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="footer__copyright ">
      SDP® 2011-2021
    </div>


</footer>
