$background-gray: #f6f6f6;
$main-orange: #ff862f;
$mid-violet: #a65cf0;
$bright-violet: #7033ac;
$btn-violet: #a65cf0;
$focus-violet: #ebd1ff;
$main-black-text: #333;
$main-gray: #999;


$font-family: "Open Sans", sans-serif;

